<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #3d3f41;">
    <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 20px;">
      <div class="row" style="display: flex; justify-content: center;">
        <div class="col-lg-8" style="width: 100%; margin: 0 auto;">
          <h3 class="mt-5" style="margin-top: 50px; text-align: center; color: #f1f1f1;">Live Streaming</h3>
          <img src="{{ url_for('video_feed') }}" style="width: 80%; display: block; margin: 0 auto;" />
        </div>
      </div>
    </div>
  </body>
</html>
